# Archivos compilados
*.exe
*.o
*.out
*.class
*.jar

# IDE y editor files
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.pyc
.python-version
env/
venv/

# Java
build/
dist/
*.war
*.ear
target/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#LaTex
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.idx
*.ilg
*.ind
*.inx
*.glo
*.gls
*.glg
*.bbl
*.blg
*.brf
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.nav
*.snm
*.vrb
*.tmp
*~
*.swp
*.bak
*.backup
*.sty
*.bst
*.afm
*.pfm
*.ttf
*.otf
*.eps
*.ps
*.fdb_latexmk
*.run.xml
*.texicloud
*.synctex
*.tpm
*.lyx~
*.master
*.synctex.gz*

# Sistema
.DS_Store
Thumbs.db